@charset "UTF-8";
.type1 {
  color: white;
  margin-top: 13.5vw;
}
.type1::before {
  content: "​";
  content: "​"/"Welcome to the WVHS \a Computer Science Department!";
  alt: "Welcome to the WVHS \a Computer Science Department!";
  white-space: break-spaces;
  will-change: content;
  -webkit-animation: typed-0 11.82s linear 1s infinite forwards;
          animation: typed-0 11.82s linear 1s infinite forwards;
}
.type1::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1ch solid currentColor;
  white-space: nowrap;
  -webkit-animation: typed-0-caret 0.75s linear 1s infinite forwards;
          animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@-webkit-keyframes typed-0 {
  0%, 0.8450236887% {
    content: "​W";
    content: "​W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  0.8460236887%, 1.6910473773% {
    content: "​We";
    content: "​We"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  1.6920473773%, 2.537071066% {
    content: "​Wel";
    content: "​Wel"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  2.538071066%, 3.3830947547% {
    content: "​Welc";
    content: "​Welc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  3.3840947547%, 4.2291184433% {
    content: "​Welco";
    content: "​Welco"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  4.2301184433%, 5.075142132% {
    content: "​Welcom";
    content: "​Welcom"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  5.076142132%, 5.9211658206% {
    content: "​Welcome";
    content: "​Welcome"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  5.9221658206%, 6.7671895093% {
    content: "​Welcome ";
    content: "​Welcome "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  6.7681895093%, 7.613213198% {
    content: "​Welcome t";
    content: "​Welcome t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  7.614213198%, 8.4592368866% {
    content: "​Welcome to";
    content: "​Welcome to"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  8.4602368866%, 9.3052605753% {
    content: "​Welcome to ";
    content: "​Welcome to "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  9.3062605753%, 10.151284264% {
    content: "​Welcome to t";
    content: "​Welcome to t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  10.152284264%, 10.9973079526% {
    content: "​Welcome to th";
    content: "​Welcome to th"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  10.9983079526%, 11.8433316413% {
    content: "​Welcome to the";
    content: "​Welcome to the"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  11.8443316413%, 12.6893553299% {
    content: "​Welcome to the ";
    content: "​Welcome to the "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  12.6903553299%, 13.5353790186% {
    content: "​Welcome to the W";
    content: "​Welcome to the W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  13.5363790186%, 14.3814027073% {
    content: "​Welcome to the WV";
    content: "​Welcome to the WV"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  14.3824027073%, 15.2274263959% {
    content: "​Welcome to the WVH";
    content: "​Welcome to the WVH"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  15.2284263959%, 16.0734500846% {
    content: "​Welcome to the WVHS";
    content: "​Welcome to the WVHS"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  16.0744500846%, 16.9194737733% {
    content: "​Welcome to the WVHS ";
    content: "​Welcome to the WVHS "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  16.9204737733%, 17.7654974619% {
    content: "​Welcome to the WVHS \a";
    content: "​Welcome to the WVHS \a"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  17.7664974619%, 18.6115211506% {
    content: "​Welcome to the WVHS \a C";
    content: "​Welcome to the WVHS \a C"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  18.6125211506%, 19.4575448393% {
    content: "​Welcome to the WVHS \a Co";
    content: "​Welcome to the WVHS \a Co"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  19.4585448393%, 20.3035685279% {
    content: "​Welcome to the WVHS \a Com";
    content: "​Welcome to the WVHS \a Com"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  20.3045685279%, 21.1495922166% {
    content: "​Welcome to the WVHS \a Comp";
    content: "​Welcome to the WVHS \a Comp"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  21.1505922166%, 21.9956159052% {
    content: "​Welcome to the WVHS \a Compu";
    content: "​Welcome to the WVHS \a Compu"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  21.9966159052%, 22.8416395939% {
    content: "​Welcome to the WVHS \a Comput";
    content: "​Welcome to the WVHS \a Comput"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  22.8426395939%, 23.6876632826% {
    content: "​Welcome to the WVHS \a Compute";
    content: "​Welcome to the WVHS \a Compute"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  23.6886632826%, 24.5336869712% {
    content: "​Welcome to the WVHS \a Computer";
    content: "​Welcome to the WVHS \a Computer"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  24.5346869712%, 25.3797106599% {
    content: "​Welcome to the WVHS \a Computer ";
    content: "​Welcome to the WVHS \a Computer "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  25.3807106599%, 26.2257343486% {
    content: "​Welcome to the WVHS \a Computer S";
    content: "​Welcome to the WVHS \a Computer S"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  26.2267343486%, 27.0717580372% {
    content: "​Welcome to the WVHS \a Computer Sc";
    content: "​Welcome to the WVHS \a Computer Sc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  27.0727580372%, 27.9177817259% {
    content: "​Welcome to the WVHS \a Computer Sci";
    content: "​Welcome to the WVHS \a Computer Sci"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  27.9187817259%, 28.7638054146% {
    content: "​Welcome to the WVHS \a Computer Scie";
    content: "​Welcome to the WVHS \a Computer Scie"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  28.7648054146%, 29.6098291032% {
    content: "​Welcome to the WVHS \a Computer Scien";
    content: "​Welcome to the WVHS \a Computer Scien"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  29.6108291032%, 30.4558527919% {
    content: "​Welcome to the WVHS \a Computer Scienc";
    content: "​Welcome to the WVHS \a Computer Scienc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  30.4568527919%, 31.3018764805% {
    content: "​Welcome to the WVHS \a Computer Science";
    content: "​Welcome to the WVHS \a Computer Science"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  31.3028764805%, 32.1479001692% {
    content: "​Welcome to the WVHS \a Computer Science ";
    content: "​Welcome to the WVHS \a Computer Science "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  32.1489001692%, 32.9939238579% {
    content: "​Welcome to the WVHS \a Computer Science D";
    content: "​Welcome to the WVHS \a Computer Science D"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  32.9949238579%, 33.8399475465% {
    content: "​Welcome to the WVHS \a Computer Science De";
    content: "​Welcome to the WVHS \a Computer Science De"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  33.8409475465%, 34.6859712352% {
    content: "​Welcome to the WVHS \a Computer Science Dep";
    content: "​Welcome to the WVHS \a Computer Science Dep"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  34.6869712352%, 35.5319949239% {
    content: "​Welcome to the WVHS \a Computer Science Depa";
    content: "​Welcome to the WVHS \a Computer Science Depa"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  35.5329949239%, 36.3780186125% {
    content: "​Welcome to the WVHS \a Computer Science Depar";
    content: "​Welcome to the WVHS \a Computer Science Depar"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  36.3790186125%, 37.2240423012% {
    content: "​Welcome to the WVHS \a Computer Science Depart";
    content: "​Welcome to the WVHS \a Computer Science Depart"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  37.2250423012%, 38.0700659898% {
    content: "​Welcome to the WVHS \a Computer Science Departm";
    content: "​Welcome to the WVHS \a Computer Science Departm"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  38.0710659898%, 38.9160896785% {
    content: "​Welcome to the WVHS \a Computer Science Departme";
    content: "​Welcome to the WVHS \a Computer Science Departme"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  38.9170896785%, 39.7621133672% {
    content: "​Welcome to the WVHS \a Computer Science Departmen";
    content: "​Welcome to the WVHS \a Computer Science Departmen"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  39.7631133672%, 40.6081370558% {
    content: "​Welcome to the WVHS \a Computer Science Department";
    content: "​Welcome to the WVHS \a Computer Science Department"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  40.6091370558%, 59.0514534687% {
    content: "​Welcome to the WVHS \a Computer Science Department!";
    content: "​Welcome to the WVHS \a Computer Science Department!"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  59.0524534687%, 59.7282724196% {
    content: "​Welcome to the WVHS \a Computer Science Department";
    content: "​Welcome to the WVHS \a Computer Science Department"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  59.7292724196%, 60.4050913706% {
    content: "​Welcome to the WVHS \a Computer Science Departmen";
    content: "​Welcome to the WVHS \a Computer Science Departmen"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  60.4060913706%, 61.0819103215% {
    content: "​Welcome to the WVHS \a Computer Science Departme";
    content: "​Welcome to the WVHS \a Computer Science Departme"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  61.0829103215%, 61.7587292724% {
    content: "​Welcome to the WVHS \a Computer Science Departm";
    content: "​Welcome to the WVHS \a Computer Science Departm"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  61.7597292724%, 62.4355482234% {
    content: "​Welcome to the WVHS \a Computer Science Depart";
    content: "​Welcome to the WVHS \a Computer Science Depart"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  62.4365482234%, 63.1123671743% {
    content: "​Welcome to the WVHS \a Computer Science Depar";
    content: "​Welcome to the WVHS \a Computer Science Depar"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  63.1133671743%, 63.7891861252% {
    content: "​Welcome to the WVHS \a Computer Science Depa";
    content: "​Welcome to the WVHS \a Computer Science Depa"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  63.7901861252%, 64.4660050761% {
    content: "​Welcome to the WVHS \a Computer Science Dep";
    content: "​Welcome to the WVHS \a Computer Science Dep"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  64.4670050761%, 65.1428240271% {
    content: "​Welcome to the WVHS \a Computer Science De";
    content: "​Welcome to the WVHS \a Computer Science De"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  65.1438240271%, 65.819642978% {
    content: "​Welcome to the WVHS \a Computer Science D";
    content: "​Welcome to the WVHS \a Computer Science D"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  65.820642978%, 66.4964619289% {
    content: "​Welcome to the WVHS \a Computer Science ";
    content: "​Welcome to the WVHS \a Computer Science "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  66.4974619289%, 67.1732808799% {
    content: "​Welcome to the WVHS \a Computer Science";
    content: "​Welcome to the WVHS \a Computer Science"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  67.1742808799%, 67.8500998308% {
    content: "​Welcome to the WVHS \a Computer Scienc";
    content: "​Welcome to the WVHS \a Computer Scienc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  67.8510998308%, 68.5269187817% {
    content: "​Welcome to the WVHS \a Computer Scien";
    content: "​Welcome to the WVHS \a Computer Scien"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  68.5279187817%, 69.2037377327% {
    content: "​Welcome to the WVHS \a Computer Scie";
    content: "​Welcome to the WVHS \a Computer Scie"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  69.2047377327%, 69.8805566836% {
    content: "​Welcome to the WVHS \a Computer Sci";
    content: "​Welcome to the WVHS \a Computer Sci"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  69.8815566836%, 70.5573756345% {
    content: "​Welcome to the WVHS \a Computer Sc";
    content: "​Welcome to the WVHS \a Computer Sc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  70.5583756345%, 71.2341945854% {
    content: "​Welcome to the WVHS \a Computer S";
    content: "​Welcome to the WVHS \a Computer S"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  71.2351945854%, 71.9110135364% {
    content: "​Welcome to the WVHS \a Computer ";
    content: "​Welcome to the WVHS \a Computer "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  71.9120135364%, 72.5878324873% {
    content: "​Welcome to the WVHS \a Computer";
    content: "​Welcome to the WVHS \a Computer"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  72.5888324873%, 73.2646514382% {
    content: "​Welcome to the WVHS \a Compute";
    content: "​Welcome to the WVHS \a Compute"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  73.2656514382%, 73.9414703892% {
    content: "​Welcome to the WVHS \a Comput";
    content: "​Welcome to the WVHS \a Comput"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  73.9424703892%, 74.6182893401% {
    content: "​Welcome to the WVHS \a Compu";
    content: "​Welcome to the WVHS \a Compu"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  74.6192893401%, 75.295108291% {
    content: "​Welcome to the WVHS \a Comp";
    content: "​Welcome to the WVHS \a Comp"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  75.296108291%, 75.971927242% {
    content: "​Welcome to the WVHS \a Com";
    content: "​Welcome to the WVHS \a Com"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  75.972927242%, 76.6487461929% {
    content: "​Welcome to the WVHS \a Co";
    content: "​Welcome to the WVHS \a Co"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  76.6497461929%, 77.3255651438% {
    content: "​Welcome to the WVHS \a C";
    content: "​Welcome to the WVHS \a C"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  77.3265651438%, 78.0023840948% {
    content: "​Welcome to the WVHS \a";
    content: "​Welcome to the WVHS \a"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  78.0033840948%, 78.6792030457% {
    content: "​Welcome to the WVHS ";
    content: "​Welcome to the WVHS "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  78.6802030457%, 79.3560219966% {
    content: "​Welcome to the WVHS";
    content: "​Welcome to the WVHS"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  79.3570219966%, 80.0328409475% {
    content: "​Welcome to the WVH";
    content: "​Welcome to the WVH"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  80.0338409475%, 80.7096598985% {
    content: "​Welcome to the WV";
    content: "​Welcome to the WV"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  80.7106598985%, 81.3864788494% {
    content: "​Welcome to the W";
    content: "​Welcome to the W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  81.3874788494%, 82.0632978003% {
    content: "​Welcome to the ";
    content: "​Welcome to the "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  82.0642978003%, 82.7401167513% {
    content: "​Welcome to the";
    content: "​Welcome to the"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  82.7411167513%, 83.4169357022% {
    content: "​Welcome to th";
    content: "​Welcome to th"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  83.4179357022%, 84.0937546531% {
    content: "​Welcome to t";
    content: "​Welcome to t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  84.0947546531%, 84.7705736041% {
    content: "​Welcome to ";
    content: "​Welcome to "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  84.7715736041%, 85.447392555% {
    content: "​Welcome to";
    content: "​Welcome to"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  85.448392555%, 86.1242115059% {
    content: "​Welcome t";
    content: "​Welcome t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  86.1252115059%, 86.8010304569% {
    content: "​Welcome ";
    content: "​Welcome "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  86.8020304569%, 87.4778494078% {
    content: "​Welcome";
    content: "​Welcome"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  87.4788494078%, 88.1546683587% {
    content: "​Welcom";
    content: "​Welcom"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  88.1556683587%, 88.8314873096% {
    content: "​Welco";
    content: "​Welco"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  88.8324873096%, 89.5083062606% {
    content: "​Welc";
    content: "​Welc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  89.5093062606%, 90.1851252115% {
    content: "​Wel";
    content: "​Wel"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  90.1861252115%, 90.8619441624% {
    content: "​We";
    content: "​We"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  90.8629441624%, 91.5387631134% {
    content: "​W";
    content: "​W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  91.5397631134%, 100% {
    content: "​";
    content: "​"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
}
@keyframes typed-0 {
  0%, 0.8450236887% {
    content: "​W";
    content: "​W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  0.8460236887%, 1.6910473773% {
    content: "​We";
    content: "​We"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  1.6920473773%, 2.537071066% {
    content: "​Wel";
    content: "​Wel"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  2.538071066%, 3.3830947547% {
    content: "​Welc";
    content: "​Welc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  3.3840947547%, 4.2291184433% {
    content: "​Welco";
    content: "​Welco"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  4.2301184433%, 5.075142132% {
    content: "​Welcom";
    content: "​Welcom"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  5.076142132%, 5.9211658206% {
    content: "​Welcome";
    content: "​Welcome"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  5.9221658206%, 6.7671895093% {
    content: "​Welcome ";
    content: "​Welcome "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  6.7681895093%, 7.613213198% {
    content: "​Welcome t";
    content: "​Welcome t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  7.614213198%, 8.4592368866% {
    content: "​Welcome to";
    content: "​Welcome to"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  8.4602368866%, 9.3052605753% {
    content: "​Welcome to ";
    content: "​Welcome to "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  9.3062605753%, 10.151284264% {
    content: "​Welcome to t";
    content: "​Welcome to t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  10.152284264%, 10.9973079526% {
    content: "​Welcome to th";
    content: "​Welcome to th"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  10.9983079526%, 11.8433316413% {
    content: "​Welcome to the";
    content: "​Welcome to the"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  11.8443316413%, 12.6893553299% {
    content: "​Welcome to the ";
    content: "​Welcome to the "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  12.6903553299%, 13.5353790186% {
    content: "​Welcome to the W";
    content: "​Welcome to the W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  13.5363790186%, 14.3814027073% {
    content: "​Welcome to the WV";
    content: "​Welcome to the WV"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  14.3824027073%, 15.2274263959% {
    content: "​Welcome to the WVH";
    content: "​Welcome to the WVH"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  15.2284263959%, 16.0734500846% {
    content: "​Welcome to the WVHS";
    content: "​Welcome to the WVHS"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  16.0744500846%, 16.9194737733% {
    content: "​Welcome to the WVHS ";
    content: "​Welcome to the WVHS "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  16.9204737733%, 17.7654974619% {
    content: "​Welcome to the WVHS \a";
    content: "​Welcome to the WVHS \a"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  17.7664974619%, 18.6115211506% {
    content: "​Welcome to the WVHS \a C";
    content: "​Welcome to the WVHS \a C"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  18.6125211506%, 19.4575448393% {
    content: "​Welcome to the WVHS \a Co";
    content: "​Welcome to the WVHS \a Co"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  19.4585448393%, 20.3035685279% {
    content: "​Welcome to the WVHS \a Com";
    content: "​Welcome to the WVHS \a Com"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  20.3045685279%, 21.1495922166% {
    content: "​Welcome to the WVHS \a Comp";
    content: "​Welcome to the WVHS \a Comp"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  21.1505922166%, 21.9956159052% {
    content: "​Welcome to the WVHS \a Compu";
    content: "​Welcome to the WVHS \a Compu"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  21.9966159052%, 22.8416395939% {
    content: "​Welcome to the WVHS \a Comput";
    content: "​Welcome to the WVHS \a Comput"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  22.8426395939%, 23.6876632826% {
    content: "​Welcome to the WVHS \a Compute";
    content: "​Welcome to the WVHS \a Compute"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  23.6886632826%, 24.5336869712% {
    content: "​Welcome to the WVHS \a Computer";
    content: "​Welcome to the WVHS \a Computer"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  24.5346869712%, 25.3797106599% {
    content: "​Welcome to the WVHS \a Computer ";
    content: "​Welcome to the WVHS \a Computer "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  25.3807106599%, 26.2257343486% {
    content: "​Welcome to the WVHS \a Computer S";
    content: "​Welcome to the WVHS \a Computer S"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  26.2267343486%, 27.0717580372% {
    content: "​Welcome to the WVHS \a Computer Sc";
    content: "​Welcome to the WVHS \a Computer Sc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  27.0727580372%, 27.9177817259% {
    content: "​Welcome to the WVHS \a Computer Sci";
    content: "​Welcome to the WVHS \a Computer Sci"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  27.9187817259%, 28.7638054146% {
    content: "​Welcome to the WVHS \a Computer Scie";
    content: "​Welcome to the WVHS \a Computer Scie"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  28.7648054146%, 29.6098291032% {
    content: "​Welcome to the WVHS \a Computer Scien";
    content: "​Welcome to the WVHS \a Computer Scien"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  29.6108291032%, 30.4558527919% {
    content: "​Welcome to the WVHS \a Computer Scienc";
    content: "​Welcome to the WVHS \a Computer Scienc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  30.4568527919%, 31.3018764805% {
    content: "​Welcome to the WVHS \a Computer Science";
    content: "​Welcome to the WVHS \a Computer Science"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  31.3028764805%, 32.1479001692% {
    content: "​Welcome to the WVHS \a Computer Science ";
    content: "​Welcome to the WVHS \a Computer Science "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  32.1489001692%, 32.9939238579% {
    content: "​Welcome to the WVHS \a Computer Science D";
    content: "​Welcome to the WVHS \a Computer Science D"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  32.9949238579%, 33.8399475465% {
    content: "​Welcome to the WVHS \a Computer Science De";
    content: "​Welcome to the WVHS \a Computer Science De"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  33.8409475465%, 34.6859712352% {
    content: "​Welcome to the WVHS \a Computer Science Dep";
    content: "​Welcome to the WVHS \a Computer Science Dep"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  34.6869712352%, 35.5319949239% {
    content: "​Welcome to the WVHS \a Computer Science Depa";
    content: "​Welcome to the WVHS \a Computer Science Depa"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  35.5329949239%, 36.3780186125% {
    content: "​Welcome to the WVHS \a Computer Science Depar";
    content: "​Welcome to the WVHS \a Computer Science Depar"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  36.3790186125%, 37.2240423012% {
    content: "​Welcome to the WVHS \a Computer Science Depart";
    content: "​Welcome to the WVHS \a Computer Science Depart"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  37.2250423012%, 38.0700659898% {
    content: "​Welcome to the WVHS \a Computer Science Departm";
    content: "​Welcome to the WVHS \a Computer Science Departm"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  38.0710659898%, 38.9160896785% {
    content: "​Welcome to the WVHS \a Computer Science Departme";
    content: "​Welcome to the WVHS \a Computer Science Departme"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  38.9170896785%, 39.7621133672% {
    content: "​Welcome to the WVHS \a Computer Science Departmen";
    content: "​Welcome to the WVHS \a Computer Science Departmen"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  39.7631133672%, 40.6081370558% {
    content: "​Welcome to the WVHS \a Computer Science Department";
    content: "​Welcome to the WVHS \a Computer Science Department"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  40.6091370558%, 59.0514534687% {
    content: "​Welcome to the WVHS \a Computer Science Department!";
    content: "​Welcome to the WVHS \a Computer Science Department!"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  59.0524534687%, 59.7282724196% {
    content: "​Welcome to the WVHS \a Computer Science Department";
    content: "​Welcome to the WVHS \a Computer Science Department"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  59.7292724196%, 60.4050913706% {
    content: "​Welcome to the WVHS \a Computer Science Departmen";
    content: "​Welcome to the WVHS \a Computer Science Departmen"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  60.4060913706%, 61.0819103215% {
    content: "​Welcome to the WVHS \a Computer Science Departme";
    content: "​Welcome to the WVHS \a Computer Science Departme"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  61.0829103215%, 61.7587292724% {
    content: "​Welcome to the WVHS \a Computer Science Departm";
    content: "​Welcome to the WVHS \a Computer Science Departm"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  61.7597292724%, 62.4355482234% {
    content: "​Welcome to the WVHS \a Computer Science Depart";
    content: "​Welcome to the WVHS \a Computer Science Depart"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  62.4365482234%, 63.1123671743% {
    content: "​Welcome to the WVHS \a Computer Science Depar";
    content: "​Welcome to the WVHS \a Computer Science Depar"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  63.1133671743%, 63.7891861252% {
    content: "​Welcome to the WVHS \a Computer Science Depa";
    content: "​Welcome to the WVHS \a Computer Science Depa"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  63.7901861252%, 64.4660050761% {
    content: "​Welcome to the WVHS \a Computer Science Dep";
    content: "​Welcome to the WVHS \a Computer Science Dep"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  64.4670050761%, 65.1428240271% {
    content: "​Welcome to the WVHS \a Computer Science De";
    content: "​Welcome to the WVHS \a Computer Science De"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  65.1438240271%, 65.819642978% {
    content: "​Welcome to the WVHS \a Computer Science D";
    content: "​Welcome to the WVHS \a Computer Science D"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  65.820642978%, 66.4964619289% {
    content: "​Welcome to the WVHS \a Computer Science ";
    content: "​Welcome to the WVHS \a Computer Science "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  66.4974619289%, 67.1732808799% {
    content: "​Welcome to the WVHS \a Computer Science";
    content: "​Welcome to the WVHS \a Computer Science"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  67.1742808799%, 67.8500998308% {
    content: "​Welcome to the WVHS \a Computer Scienc";
    content: "​Welcome to the WVHS \a Computer Scienc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  67.8510998308%, 68.5269187817% {
    content: "​Welcome to the WVHS \a Computer Scien";
    content: "​Welcome to the WVHS \a Computer Scien"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  68.5279187817%, 69.2037377327% {
    content: "​Welcome to the WVHS \a Computer Scie";
    content: "​Welcome to the WVHS \a Computer Scie"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  69.2047377327%, 69.8805566836% {
    content: "​Welcome to the WVHS \a Computer Sci";
    content: "​Welcome to the WVHS \a Computer Sci"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  69.8815566836%, 70.5573756345% {
    content: "​Welcome to the WVHS \a Computer Sc";
    content: "​Welcome to the WVHS \a Computer Sc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  70.5583756345%, 71.2341945854% {
    content: "​Welcome to the WVHS \a Computer S";
    content: "​Welcome to the WVHS \a Computer S"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  71.2351945854%, 71.9110135364% {
    content: "​Welcome to the WVHS \a Computer ";
    content: "​Welcome to the WVHS \a Computer "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  71.9120135364%, 72.5878324873% {
    content: "​Welcome to the WVHS \a Computer";
    content: "​Welcome to the WVHS \a Computer"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  72.5888324873%, 73.2646514382% {
    content: "​Welcome to the WVHS \a Compute";
    content: "​Welcome to the WVHS \a Compute"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  73.2656514382%, 73.9414703892% {
    content: "​Welcome to the WVHS \a Comput";
    content: "​Welcome to the WVHS \a Comput"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  73.9424703892%, 74.6182893401% {
    content: "​Welcome to the WVHS \a Compu";
    content: "​Welcome to the WVHS \a Compu"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  74.6192893401%, 75.295108291% {
    content: "​Welcome to the WVHS \a Comp";
    content: "​Welcome to the WVHS \a Comp"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  75.296108291%, 75.971927242% {
    content: "​Welcome to the WVHS \a Com";
    content: "​Welcome to the WVHS \a Com"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  75.972927242%, 76.6487461929% {
    content: "​Welcome to the WVHS \a Co";
    content: "​Welcome to the WVHS \a Co"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  76.6497461929%, 77.3255651438% {
    content: "​Welcome to the WVHS \a C";
    content: "​Welcome to the WVHS \a C"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  77.3265651438%, 78.0023840948% {
    content: "​Welcome to the WVHS \a";
    content: "​Welcome to the WVHS \a"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  78.0033840948%, 78.6792030457% {
    content: "​Welcome to the WVHS ";
    content: "​Welcome to the WVHS "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  78.6802030457%, 79.3560219966% {
    content: "​Welcome to the WVHS";
    content: "​Welcome to the WVHS"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  79.3570219966%, 80.0328409475% {
    content: "​Welcome to the WVH";
    content: "​Welcome to the WVH"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  80.0338409475%, 80.7096598985% {
    content: "​Welcome to the WV";
    content: "​Welcome to the WV"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  80.7106598985%, 81.3864788494% {
    content: "​Welcome to the W";
    content: "​Welcome to the W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  81.3874788494%, 82.0632978003% {
    content: "​Welcome to the ";
    content: "​Welcome to the "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  82.0642978003%, 82.7401167513% {
    content: "​Welcome to the";
    content: "​Welcome to the"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  82.7411167513%, 83.4169357022% {
    content: "​Welcome to th";
    content: "​Welcome to th"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  83.4179357022%, 84.0937546531% {
    content: "​Welcome to t";
    content: "​Welcome to t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  84.0947546531%, 84.7705736041% {
    content: "​Welcome to ";
    content: "​Welcome to "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  84.7715736041%, 85.447392555% {
    content: "​Welcome to";
    content: "​Welcome to"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  85.448392555%, 86.1242115059% {
    content: "​Welcome t";
    content: "​Welcome t"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  86.1252115059%, 86.8010304569% {
    content: "​Welcome ";
    content: "​Welcome "/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  86.8020304569%, 87.4778494078% {
    content: "​Welcome";
    content: "​Welcome"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  87.4788494078%, 88.1546683587% {
    content: "​Welcom";
    content: "​Welcom"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  88.1556683587%, 88.8314873096% {
    content: "​Welco";
    content: "​Welco"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  88.8324873096%, 89.5083062606% {
    content: "​Welc";
    content: "​Welc"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  89.5093062606%, 90.1851252115% {
    content: "​Wel";
    content: "​Wel"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  90.1861252115%, 90.8619441624% {
    content: "​We";
    content: "​We"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  90.8629441624%, 91.5387631134% {
    content: "​W";
    content: "​W"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
  91.5397631134%, 100% {
    content: "​";
    content: "​"/"Welcome to the WVHS \a Computer Science Department!";
    alt: "Welcome to the WVHS \a Computer Science Department!";
  }
}
@-webkit-keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}