@charset "UTF-8";
.type1::before {
  content: "​";
  content: "​"/"Welcome to the WVHS Computer Science Department!";
  alt: "Welcome to the WVHS Computer Science Department!";
  white-space: break-spaces;
  will-change: content;
  animation: typed-0 11.64s linear 1s infinite forwards;
}
.type1::after {
  content: "​";
  position: relative;
  display: inline-block;
  padding-right: 0.1ch;
  border-right: 1ch solid currentColor;
  white-space: nowrap;
  animation: typed-0-caret 0.75s linear 1s infinite forwards;
}
@keyframes typed-0 {
  0%, 0.8581065292% {
    content: "​W";
    content: "​W"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  0.8591065292%, 1.7172130584% {
    content: "​We";
    content: "​We"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  1.7182130584%, 2.5763195876% {
    content: "​Wel";
    content: "​Wel"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  2.5773195876%, 3.4354261168% {
    content: "​Welc";
    content: "​Welc"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  3.4364261168%, 4.294532646% {
    content: "​Welco";
    content: "​Welco"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  4.295532646%, 5.1536391753% {
    content: "​Welcom";
    content: "​Welcom"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  5.1546391753%, 6.0127457045% {
    content: "​Welcome";
    content: "​Welcome"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  6.0137457045%, 6.8718522337% {
    content: "​Welcome ";
    content: "​Welcome "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  6.8728522337%, 7.7309587629% {
    content: "​Welcome t";
    content: "​Welcome t"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  7.7319587629%, 8.5900652921% {
    content: "​Welcome to";
    content: "​Welcome to"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  8.5910652921%, 9.4491718213% {
    content: "​Welcome to ";
    content: "​Welcome to "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  9.4501718213%, 10.3082783505% {
    content: "​Welcome to t";
    content: "​Welcome to t"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  10.3092783505%, 11.1673848797% {
    content: "​Welcome to th";
    content: "​Welcome to th"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  11.1683848797%, 12.0264914089% {
    content: "​Welcome to the";
    content: "​Welcome to the"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  12.0274914089%, 12.8855979381% {
    content: "​Welcome to the ";
    content: "​Welcome to the "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  12.8865979381%, 13.7447044674% {
    content: "​Welcome to the W";
    content: "​Welcome to the W"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  13.7457044674%, 14.6038109966% {
    content: "​Welcome to the WV";
    content: "​Welcome to the WV"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  14.6048109966%, 15.4629175258% {
    content: "​Welcome to the WVH";
    content: "​Welcome to the WVH"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  15.4639175258%, 16.322024055% {
    content: "​Welcome to the WVHS";
    content: "​Welcome to the WVHS"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  16.323024055%, 17.1811305842% {
    content: "​Welcome to the WVHS ";
    content: "​Welcome to the WVHS "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  17.1821305842%, 18.0402371134% {
    content: "​Welcome to the WVHS C";
    content: "​Welcome to the WVHS C"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  18.0412371134%, 18.8993436426% {
    content: "​Welcome to the WVHS Co";
    content: "​Welcome to the WVHS Co"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  18.9003436426%, 19.7584501718% {
    content: "​Welcome to the WVHS Com";
    content: "​Welcome to the WVHS Com"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  19.7594501718%, 20.617556701% {
    content: "​Welcome to the WVHS Comp";
    content: "​Welcome to the WVHS Comp"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  20.618556701%, 21.4766632302% {
    content: "​Welcome to the WVHS Compu";
    content: "​Welcome to the WVHS Compu"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  21.4776632302%, 22.3357697595% {
    content: "​Welcome to the WVHS Comput";
    content: "​Welcome to the WVHS Comput"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  22.3367697595%, 23.1948762887% {
    content: "​Welcome to the WVHS Compute";
    content: "​Welcome to the WVHS Compute"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  23.1958762887%, 24.0539828179% {
    content: "​Welcome to the WVHS Computer";
    content: "​Welcome to the WVHS Computer"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  24.0549828179%, 24.9130893471% {
    content: "​Welcome to the WVHS Computer ";
    content: "​Welcome to the WVHS Computer "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  24.9140893471%, 25.7721958763% {
    content: "​Welcome to the WVHS Computer S";
    content: "​Welcome to the WVHS Computer S"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  25.7731958763%, 26.6313024055% {
    content: "​Welcome to the WVHS Computer Sc";
    content: "​Welcome to the WVHS Computer Sc"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  26.6323024055%, 27.4904089347% {
    content: "​Welcome to the WVHS Computer Sci";
    content: "​Welcome to the WVHS Computer Sci"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  27.4914089347%, 28.3495154639% {
    content: "​Welcome to the WVHS Computer Scie";
    content: "​Welcome to the WVHS Computer Scie"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  28.3505154639%, 29.2086219931% {
    content: "​Welcome to the WVHS Computer Scien";
    content: "​Welcome to the WVHS Computer Scien"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  29.2096219931%, 30.0677285223% {
    content: "​Welcome to the WVHS Computer Scienc";
    content: "​Welcome to the WVHS Computer Scienc"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  30.0687285223%, 30.9268350515% {
    content: "​Welcome to the WVHS Computer Science";
    content: "​Welcome to the WVHS Computer Science"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  30.9278350515%, 31.7859415808% {
    content: "​Welcome to the WVHS Computer Science ";
    content: "​Welcome to the WVHS Computer Science "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  31.7869415808%, 32.64504811% {
    content: "​Welcome to the WVHS Computer Science D";
    content: "​Welcome to the WVHS Computer Science D"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  32.64604811%, 33.5041546392% {
    content: "​Welcome to the WVHS Computer Science De";
    content: "​Welcome to the WVHS Computer Science De"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  33.5051546392%, 34.3632611684% {
    content: "​Welcome to the WVHS Computer Science Dep";
    content: "​Welcome to the WVHS Computer Science Dep"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  34.3642611684%, 35.2223676976% {
    content: "​Welcome to the WVHS Computer Science Depa";
    content: "​Welcome to the WVHS Computer Science Depa"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  35.2233676976%, 36.0814742268% {
    content: "​Welcome to the WVHS Computer Science Depar";
    content: "​Welcome to the WVHS Computer Science Depar"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  36.0824742268%, 36.940580756% {
    content: "​Welcome to the WVHS Computer Science Depart";
    content: "​Welcome to the WVHS Computer Science Depart"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  36.941580756%, 37.7996872852% {
    content: "​Welcome to the WVHS Computer Science Departm";
    content: "​Welcome to the WVHS Computer Science Departm"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  37.8006872852%, 38.6587938144% {
    content: "​Welcome to the WVHS Computer Science Departme";
    content: "​Welcome to the WVHS Computer Science Departme"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  38.6597938144%, 39.5179003436% {
    content: "​Welcome to the WVHS Computer Science Departmen";
    content: "​Welcome to the WVHS Computer Science Departmen"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  39.5189003436%, 40.3770068729% {
    content: "​Welcome to the WVHS Computer Science Department";
    content: "​Welcome to the WVHS Computer Science Department"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  40.3780068729%, 59.1055292096% {
    content: "​Welcome to the WVHS Computer Science Department!";
    content: "​Welcome to the WVHS Computer Science Department!"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  59.1065292096%, 59.792814433% {
    content: "​Welcome to the WVHS Computer Science Department";
    content: "​Welcome to the WVHS Computer Science Department"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  59.793814433%, 60.4800996564% {
    content: "​Welcome to the WVHS Computer Science Departmen";
    content: "​Welcome to the WVHS Computer Science Departmen"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  60.4810996564%, 61.1673848797% {
    content: "​Welcome to the WVHS Computer Science Departme";
    content: "​Welcome to the WVHS Computer Science Departme"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  61.1683848797%, 61.8546701031% {
    content: "​Welcome to the WVHS Computer Science Departm";
    content: "​Welcome to the WVHS Computer Science Departm"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  61.8556701031%, 62.5419553265% {
    content: "​Welcome to the WVHS Computer Science Depart";
    content: "​Welcome to the WVHS Computer Science Depart"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  62.5429553265%, 63.2292405498% {
    content: "​Welcome to the WVHS Computer Science Depar";
    content: "​Welcome to the WVHS Computer Science Depar"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  63.2302405498%, 63.9165257732% {
    content: "​Welcome to the WVHS Computer Science Depa";
    content: "​Welcome to the WVHS Computer Science Depa"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  63.9175257732%, 64.6038109966% {
    content: "​Welcome to the WVHS Computer Science Dep";
    content: "​Welcome to the WVHS Computer Science Dep"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  64.6048109966%, 65.2910962199% {
    content: "​Welcome to the WVHS Computer Science De";
    content: "​Welcome to the WVHS Computer Science De"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  65.2920962199%, 65.9783814433% {
    content: "​Welcome to the WVHS Computer Science D";
    content: "​Welcome to the WVHS Computer Science D"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  65.9793814433%, 66.6656666667% {
    content: "​Welcome to the WVHS Computer Science ";
    content: "​Welcome to the WVHS Computer Science "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  66.6666666667%, 67.35295189% {
    content: "​Welcome to the WVHS Computer Science";
    content: "​Welcome to the WVHS Computer Science"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  67.35395189%, 68.0402371134% {
    content: "​Welcome to the WVHS Computer Scienc";
    content: "​Welcome to the WVHS Computer Scienc"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  68.0412371134%, 68.7275223368% {
    content: "​Welcome to the WVHS Computer Scien";
    content: "​Welcome to the WVHS Computer Scien"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  68.7285223368%, 69.4148075601% {
    content: "​Welcome to the WVHS Computer Scie";
    content: "​Welcome to the WVHS Computer Scie"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  69.4158075601%, 70.1020927835% {
    content: "​Welcome to the WVHS Computer Sci";
    content: "​Welcome to the WVHS Computer Sci"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  70.1030927835%, 70.7893780069% {
    content: "​Welcome to the WVHS Computer Sc";
    content: "​Welcome to the WVHS Computer Sc"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  70.7903780069%, 71.4766632302% {
    content: "​Welcome to the WVHS Computer S";
    content: "​Welcome to the WVHS Computer S"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  71.4776632302%, 72.1639484536% {
    content: "​Welcome to the WVHS Computer ";
    content: "​Welcome to the WVHS Computer "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  72.1649484536%, 72.851233677% {
    content: "​Welcome to the WVHS Computer";
    content: "​Welcome to the WVHS Computer"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  72.852233677%, 73.5385189003% {
    content: "​Welcome to the WVHS Compute";
    content: "​Welcome to the WVHS Compute"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  73.5395189003%, 74.2258041237% {
    content: "​Welcome to the WVHS Comput";
    content: "​Welcome to the WVHS Comput"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  74.2268041237%, 74.9130893471% {
    content: "​Welcome to the WVHS Compu";
    content: "​Welcome to the WVHS Compu"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  74.9140893471%, 75.6003745704% {
    content: "​Welcome to the WVHS Comp";
    content: "​Welcome to the WVHS Comp"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  75.6013745704%, 76.2876597938% {
    content: "​Welcome to the WVHS Com";
    content: "​Welcome to the WVHS Com"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  76.2886597938%, 76.9749450172% {
    content: "​Welcome to the WVHS Co";
    content: "​Welcome to the WVHS Co"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  76.9759450172%, 77.6622302405% {
    content: "​Welcome to the WVHS C";
    content: "​Welcome to the WVHS C"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  77.6632302405%, 78.3495154639% {
    content: "​Welcome to the WVHS ";
    content: "​Welcome to the WVHS "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  78.3505154639%, 79.0368006873% {
    content: "​Welcome to the WVHS";
    content: "​Welcome to the WVHS"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  79.0378006873%, 79.7240859107% {
    content: "​Welcome to the WVH";
    content: "​Welcome to the WVH"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  79.7250859107%, 80.411371134% {
    content: "​Welcome to the WV";
    content: "​Welcome to the WV"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  80.412371134%, 81.0986563574% {
    content: "​Welcome to the W";
    content: "​Welcome to the W"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  81.0996563574%, 81.7859415808% {
    content: "​Welcome to the ";
    content: "​Welcome to the "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  81.7869415808%, 82.4732268041% {
    content: "​Welcome to the";
    content: "​Welcome to the"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  82.4742268041%, 83.1605120275% {
    content: "​Welcome to th";
    content: "​Welcome to th"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  83.1615120275%, 83.8477972509% {
    content: "​Welcome to t";
    content: "​Welcome to t"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  83.8487972509%, 84.5350824742% {
    content: "​Welcome to ";
    content: "​Welcome to "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  84.5360824742%, 85.2223676976% {
    content: "​Welcome to";
    content: "​Welcome to"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  85.2233676976%, 85.909652921% {
    content: "​Welcome t";
    content: "​Welcome t"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  85.910652921%, 86.5969381443% {
    content: "​Welcome ";
    content: "​Welcome "/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  86.5979381443%, 87.2842233677% {
    content: "​Welcome";
    content: "​Welcome"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  87.2852233677%, 87.9715085911% {
    content: "​Welcom";
    content: "​Welcom"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  87.9725085911%, 88.6587938144% {
    content: "​Welco";
    content: "​Welco"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  88.6597938144%, 89.3460790378% {
    content: "​Welc";
    content: "​Welc"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  89.3470790378%, 90.0333642612% {
    content: "​Wel";
    content: "​Wel"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  90.0343642612%, 90.7206494845% {
    content: "​We";
    content: "​We"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  90.7216494845%, 91.4079347079% {
    content: "​W";
    content: "​W"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
  91.4089347079%, 100% {
    content: "​";
    content: "​"/"Welcome to the WVHS Computer Science Department!";
    alt: "Welcome to the WVHS Computer Science Department!";
  }
}
@keyframes typed-0-caret {
  75% {
    border-color: transparent;
  }
}